@model LiveCore.Models.ItemPropostaServico

@{
    ViewBag.Title = "Deletar Item da Proposta";
    Layout = "";
}

<div>
    Você tem certeza que deseja deletar o Item de Serviço @Html.DisplayFor(model => model.Servico.Nome)?
    @Html.HiddenFor(model => model.ItemPropostaServID)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Deletar" id="submit" hidden />
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
    $(document).ready(function () {

    });
    </script>
}