@model IEnumerable<LiveCore.Models.Papel>

@{
    ViewBag.Title = "Index";
    Layout = "";

    ViewData["NaoExiste"] = "Não existem papéis de entidade cadastrados.";
}
<style>
    .table tbody > tr > td {
        border-top: none !important;
    }
</style>

<table class="table">
    

@if(Model.Count() == 0)
{
    <tr>
        
        <td>
           @ViewData["NaoExiste"]
        </td>

    </tr>
        
}
@foreach (var item in Model) {
    <tr>
        <td class="checkboxSel">@Html.CheckBox("Vincular", false, new { @id = @item.PapelID })</td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>

    </tr>
}

</table>
